@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=PT+Serif:wght@400;700&family=Poppins:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  max-width: 1024px;
  padding: 24px;
  margin: 0 auto;
}

.team-heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.team-name {
  margin: 0 auto;
  margin-top: 15px;
  align-items: center;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
}

.team-description {
  font-family: Poppins, sans-serif;
  margin-bottom: 40px;
}

.team-description-title {
  font-weight: 600;
  font-size: 18px;
}

.team-description-about {
  font-weight: 400;
  font-style: 18px;
}

.staff-team {
  display: grid;
  grid-template-rows: 1fr;
}

.members-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 0;
}

.staff-member {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.staff-member:nth-child(2),
.staff-member:nth-child(5) {
  margin-top: 100px;
}

.staff-member-identification {
  height: 430px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.staff-member-identification h2 {
  margin: 0;
}

.staff-member-identification img {
  height: 80%;
  object-fit: cover;
  margin-bottom: 10px;
}

.staff-member-profession {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 12px;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  margin: 0;
}

footer {
  display: block;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #a9a9a9;
}

footer p {
  display: flex;
  justify-content: center;
}

footer a {
  color: #a9a9a9;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 700;
}

@media only screen and (max-width: 660px) {
  .container {
    width: 100vw;
    height: 100vh;
    padding: 10px;
  }

  .team-heading {
    display: block;
  }

  .team-description-about {
    font-size: 14px;
  }

  .staff-team {
    display: block;
  }

  .members-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .staff-member-identification {
    height: 270px;
  }

  .staff-member:nth-child(2),
  .staff-member:nth-child(5) {
    margin: 0;
  }

  .staff-member:nth-child(2n) {
    margin-top: 60px;
  }
}